{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "wiki-chart.fullname" . }}
  labels:
    {{- include "wiki-chart.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  rules:
    - http:
        paths:
          - path: /posts
            pathType: Prefix
            backend:
              service:
                name: wiki-wiki-chart
                port:
                  number: 8000
          - path: /grafana
            pathType: Prefix
            backend:
              service:
                name: wiki-grafana
                port:
                  number: 80
          # - path: /
          #   pathType: Prefix
          #   backend:
          #     service:
          #       name: wiki-wiki-chart
          #       port:
          #         number: 8000
{{- end }}