apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-fastapi-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "{{ .Values.service.port }}"
  labels:
    {{- include "wiki-chart.labels" . | nindent 4 }}
    app: {{ .Release.Name }}-svc
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "wiki-chart.selectorLabels" . | nindent 4 }}
